body { background: #12212c url('/images/bg-pixel-pattern.png'); color: #FFF; }

body, a, p, ol, ul, td, span, textarea{
  font: 14px/22px Arial, "Lucida Grande", Verdana, sans-serif;
  text-shadow:#000 0px 0px 1px;
}

label {
  font-family: "orgovan-rounded-web-1","orgovan-rounded-web-2", Arial, "Lucida Grande", Verdana, sans-serif;
  color: #FC0;
  text-shadow:#000 0px 1px 5px;
}

h1, h2, h3, h4, h5, h6, th {
  text-shadow:#000 0px 1px 5px;
}

h2 {
  font-size: 2em;
  margin: 20px 0px 0px 0px;
}

th {
  font-size: 1.75em;
}
.darkoit, th, blockquote p {
  font-family: "orgovan-rounded-web-1","orgovan-rounded-web-2", Arial, "Lucida Grande", Verdana, sans-serif;
}
.darkoit {
  background-color: #FFF;
	border: 2px solid #FC0;
  border-radius: 5px;
  color: #000;
  font-size:1.25em;

  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
	padding: 10px;
	text-decoration: none;
  text-shadow:#FC0 0px 0px 3px;
  transition: all 0.25s ease-in-out;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
	margin-left: 270px;
	position: relative;
	top: 5px;

  box-shadow: 0 0 15px rgba(81, 203, 238, 0);
  -webkit-box-shadow: 0 0 15px rgba(81, 203, 238, 0);
  -moz-box-shadow: 0 0 15px rgba(81, 203, 238, 0);
}

.darkoit:hover {
  color: #000;
	background-color: #FFF;
  border:#35a5e5 2px solid;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
	padding: 10px;
	text-decoration: none;
  text-shadow:#35a5e5 0px 0px 3px;

  box-shadow: 0 0 15px rgba(81, 203, 238, 1);
  -webkit-box-shadow: 0 0 15px rgba(81, 203, 238, 1);
  -moz-box-shadow: 0 0 15px rgba(81, 203, 238, 1);
}

.darkoheader {
	padding-top:30px;
	padding-bottom:10px;
	margin-left:162px;
	font-size:48px;
}

.darko {
  float:left;
  margin-left:15px;
}

label {
	margin-left:0px;
	font-size:18px;
	font-style: italic;
}

.hesaidwhat {
	margin-left:25px;
	font-size:1em;
}

#indexcontainer {
  position: absolute;
	left:160px;
}

.hesaidwhen a, .hesaidwhen a:visited {
  font-size: 0.7em;
}

a, a:visited {
	color: #FC0;
  transition: all 2.5s ease-in-out;
  -webkit-transition: all 2.5s ease-in-out;
  -moz-transition: all 2.5s ease-in-out;
}

a:hover {
	color: rgba(81, 203, 238, 1);
  outline:none;
  transition: all 0.25s ease-in-out;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
}

textarea {
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  font-size:16px;
  padding:10px;
  height:85px;
  width:375px;
  border:#FC0 2px solid;
  transition: all 0.25s ease-in-out;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  box-shadow: 0 0 15px rgba(81, 203, 238, 0);
  -webkit-box-shadow: 0 0 15px rgba(81, 203, 238, 0);
  -moz-box-shadow: 0 0 15px rgba(81, 203, 238, 0);
}

textarea:hover, textarea:focus {
  outline:none;
  border:#35a5e5 2px solid;
  box-shadow: 0 0 15px rgba(81, 203, 238, 1);
  -webkit-box-shadow: 0 0 15px rgba(81, 203, 238, 1);
  -moz-box-shadow: 0 0 15px rgba(81, 203, 238, 1);
}

#container {width: 500px; margin-left: 20px;}
blockquote {margin:1em 0;}
blockquote p {
    font-size: 2em;
    margin: 0;
    text-shadow:#000 0px 1px 2px;
    line-height: 1.15em;
}

.example-right {
	position:relative;
	padding:15px 30px;
	margin:0;
	color:#fff;
	background:#5a8f00; /* default background for browsers without gradient support */
  
	/* css3 */
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	/* NOTE: webkit gradient implementation is not as per spec */
	background:-webkit-gradient(linear, left top, left bottom, from(#FF9900), to(#FC0));
	background:-moz-linear-gradient(top, #FF9900, #FC0);
	background:-o-linear-gradient(top, #FF9900, #FC0);
}

/* display of quote author (alternatively use a class on the element following the blockquote) */
.example-right + p {margin:15px 0 2em 85px; font-style:italic;}

/* creates the triangle */
.example-right:after {
	content:"";
	display:block; /* reduce the damage in FF3.0 */
	position:absolute;
	bottom:-50px;
	left:50px;
	width:0;
	height:0;
	border-width:0 20px 50px 0px;
	border-style:solid;
	border-color:transparent #FC0;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

div.field, div.actions {
  font-size:  18px;
  margin-bottom: 10px;
}

#notice {
  color: green;
  font-size:	24px;
}

.field_with_errors {
  padding: 4px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
  color: #fff;
}

#error_explanation ul li {
  color: red;
  font-size: 12px;
  list-style: square;
}
