- begin
  - content_for :title, "DarkoTime! • A D&C Joint"
  = render 'form'
  #indexcontainer
    %h2 History
    - @darkos.each do |darko|
      %span{:class => "hesaidwhen"}= link_to darko.created_at.strftime("%B %d, %I:%M %p"), darko
      %span{:class => "hesaidwhat"}
        = surround '“', '”' do
          = darko.status
      %br
    
    %p Follow <a href="/darkos.rss">DarkoTime updates</a> in real-time via RSS

- rescue
  %p Something has gone wrong. Let Chris or Doug know and get a prize.