<h1><div class="darkoheader">DarkoTime!</h1>
	</div>
<br/>
<%= render 'form' %>

<table>
  <tr>
    <th><div class="hesaidwhen">History</div></br></th>
  </tr>
<% @darkos.each do |darko| %>
  <tr>
  	<td valign="top"><span class="hesaidwhen"><%= darko.created_at.strftime("%B %d, %I:%M %p") %></span></td>
    <td valign="top"><span class="hesaidwhat">&#8220;<%= darko.status %>&#8221;</span><br/></td>
  </tr>
</table>
<% end %>