- begin
  - content_for :title, "DarkoTime! " << @darko.status << " • A D&C Joint"
  #container
    %blockquote{:class => "example-right"}
      %p= @darko.status
    %p= link_to image_tag("/images/darko-head.png", :alt => "Darko", :title => "Darko's Tip: Click on my head to go back to the big list.", :height => "318", :width => "284", :border => "0"), root_path
   
- rescue
  %p Something has gone wrong. Let Chris or Doug know and get a prize.